/* body {
  background-color: rgba(230,235,236,255);
} */

.header {
  background-color: rgba(230,235,236,255);
  color: rgba(84,165,218,255)
}

#subtitle-header {
  border-bottom: #002b49 3px solid;
}

.subtitle-text {
  color: rgba(84,165,218,255);
}

.slide-location {
  background-color: rgba(230,235,236,255);
}

.square-location {
  background-color: #002b49;
  color: whitesmoke;
  padding-bottom: 25px;
}

.carousel-control-next {
  filter: invert(100%);
}

.image-blocks {
  border-radius: 25px;
  width: 350px;
  background-size: 350px;
}

.joinUs-row {
  background-color: rgba(230,235,236,255);
}

.carousel-indicators {
  z-index: 9999;
}

.btm-footer {
  background-color: #002b49;
  color:whitesmoke;
}

/* .advantages-title {
  border-bottom: 3px whitesmoke solid;
} */

#keep-your-customers {
  background-image: url(../images/Image-Keep-Your-Customers-400-kb.jpg);
  background-size: 350px;
  width: 350px;
  height: 200px;
}

#keep-your-customers:hover {
  background-image: url(../images/keep-your-customers-description-med-qual-georgia.jpg);
  width: 350px;
  height: 200px;
  transition: .5s ease;
}

#increase-revenue {
  background-image: url(../images/Image-Increase-Revenue-400-kb.jpg);
  background-size: 350px;
  width: 350px;
  height: 200px;
}

#increase-revenue:hover {
  background-image: url(../images/increase-revenue-description-300-georgia.jpg);
  width: 350px;
  height: 200px;
  transition: .5s ease;
}

#minimal-compliance {
  background-image: url(../images/Image-Minimal-Compliance-400-kb.jpg);
  background-size: 350px;
  width: 350px;
  height: 200px;
}

#minimal-compliance:hover {
  background-image: url(../images/minimal-compliance-description-med-qual.jpg);
  width: 350px;
  height: 200px;
  transition: .5s ease;
}

#you-ll-only-need-one {
  background-image: url(../images/Image-You-Only-Need-One-400-kb.jpg);
  background-size: 350px;
  width: 350px;
  height: 200px;
}

#you-ll-only-need-one:hover {
  background-image: url(../images/you-only-need-one-description-med-qual-georgia.jpg);
  width: 350px;
  height: 200px;
  transition: .5s ease;
}

#go-digital {
  background-image: url(../images/Image-Go-Digital-400-kb.jpg);
  background-size: 350px;
  width: 350px;
  height: 200px;
}

#go-digital:hover {
  background-image: url(../images/go-digital-description-med-qual-georgia.jpg);
  width: 350px;
  height: 200px;
  transition: .5s ease;
}

#products {
  background-image: url(../images/products-300-kb.jpg);
  background-size: 350px;
  width: 350px;
  height: 200px;
}

#products:hover {
  background-image: url(../images/products-description.jpg);
  width: 350px;
  height: 200px;
  transition: .5s ease;
}

.svg {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
  margin: 5px;
  /* border-radius: 15px;
  border: white 1px solid;
  padding: 8px; */
}

/* #mail-svg {
  margin: 5px;
}

#phone-svg {
  margin: 5px;
}

#geo-svg {
  margin: 5px;
} */

/* @media only screen and (max-width: 768px) {


  

} */



/* For mobile phones: */
/* .slide-location {
  padding: 0;
} */


/* #keep-your-customers,
  #keep-your-customers:hover {
    width: 350px;
    background-size: 350px;
  }