/* body {
  background-color: rgba(230,235,236,255);
} */

.header {
  background-color: rgba(230,235,236,255);
  color: rgba(84,165,218,255)
}

.subtitle-text {
  color: rgba(84,165,218,255);
}

.slide-location {
  background-color: rgba(230,235,236,255);
}

.square-location {
  background-color: #002b49;
  color: whitesmoke;
}

.carousel-control-next {
  filter: invert(100%);
}

.image-blocks {
  border-radius: 25px;
}

.joinUs-row {
  background-color: #002b49;
}

.carousel-indicators {
  z-index: 9999;
}

.btm-footer {
  background-color: #002b49;
  color:whitesmoke;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .slide-location {
    padding: 0;
  }
}